/*
 * Copyright (c) 2024
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
    chosen {
        zephyr,flash-controller = &ext_flash_ctrl;
        zephyr,code-partition = &slot0_partition;
        zephyr,shell-uart = &cdc_acm_uart0;
        zephyr,console = &cdc_acm_uart0;
    };

    aliases {
        mcuboot-button0 = &user_button;
    };
};

&zephyr_udc0 {
    status = "okay";
};

&flash0 {
    partitions {
        compatible = "fixed-partitions";
        #address-cells = <1>;
        #size-cells = <1>;

        boot_partition: partition@0 {
            label = "spl";
            reg = <0x0 DT_SIZE_K(64)>;
        };
    };
};

&ext_flash0 {
    partitions {
        compatible = "fixed-partitions";
        #address-cells = <1>;
        #size-cells = <1>;

        /* 删除基础设备树中的 storage_partition */
        /delete-node/ partition@0;

        slot0_partition: partition@0 {
            label = "tpl";
            reg = <0 DT_SIZE_M(1)>;
        };

        slot1_partition: partition@100000 {
            label = "app";
            reg = <DT_SIZE_M(5) DT_SIZE_M(1)>;
        };

        storage_partition: partition@600000 {
            label = "storage";
            reg = <DT_SIZE_M(7) DT_SIZE_K(8)>;
        };
    };
};
